.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.about-container {
  padding: 1.5rem;
  border-radius: 30px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 70vh;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(135, 62, 244, 0.4) 0%,
    rgba(227, 28, 28, 0.4) 100%
  );
}
