:root {
  --neon-red: #ff3131;
  --neon-blue: #1b03a3;
  --neon-blue-faded: #1b03a383;
  --btn-text-color: #fdf4d5;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url("../bg-image.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.btn {
  font-size: 2rem;
  font-weight: 800;
  background-color: rgba(135, 62, 244, 1);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-background-clip: text;
  border: 2px solid var(--neon-blue-faded);
  border-radius: 15px;
  cursor: pointer;
  text-transform: uppercase;

  padding: 0.5rem 1rem;
  color: var(--btn-text-color);
  box-shadow: 0 0 40px 40px var(--neon-red) inset, 0 0 0 0 var(--neon-red);
  transition: all 150ms ease-in-out;
}

button:hover {
  box-shadow: 0 0 10px 0 var(--neon-blue) inset, 0 0 10px 4px var(--neon-blue);
}
