.menu-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.menu {
  font-family: "Dancing Script", Arial, Helvetica, sans-serif;
  display: grid;
  grid-auto-flow: column;
  grid-template: repeat(9, fit-content(8ch)) / repeat(2, 1fr);
  place-items: center;
}

.image {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 1rem;
}

.image-label {
  background: -webkit-linear-gradient(
    90deg,
    rgb(30, 243, 154) 0%,
    rgb(255, 255, 255) 70%,
    rgb(250, 249, 172) 100%
  );
  font-size: 3rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
